In [1]:
import pandas as pd
import numpy as np

In [2]:
p1 = "./data/DATA.xlsx"
p2 = "./data/concrete/Concrete_Data_Yeh.csv"

In [3]:
df1 = pd.read_excel(p1)
df2 = pd.read_csv(p2)

In [4]:
df1.head()

    PH  Cond.(uS/cm)  TDS (PPM)  DO (mg/lts)  ORP (mg/ltr)  Turbidity (N.T.U.)
0  8.5          3.01       1230         10.0           281                   2
1  8.0          0.92        429         12.0           294                   2
2  7.5          1.73        714         14.5           277                   2
3  7.0          3.28       1260         12.5           292                   2
4  6.8          3.32       1280         12.0           302                   2

In [5]:
df2.head()

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
print(len(df1))
print(len(df2))

499
1030